PASSWORD="sample_password"
USERNAME="sample_username"
GROUP="sample_group"
HOST="sample_host"
SERVER_PIN_CERT="openvpn initialize pin cert"
PROTOCOL="anyconnect"
SPLIT_ROUTES="10.0.0.0/8 172.16.5.0/24"
DNS="1.1.1.1 8.8.8.8"